@model List<ST10381071_PROG7311_3A_POE.Models.Farmer>

<h2>Farmers List</h2>

<ul>
    @foreach (var farmer in Model)
    {
        <li>
            <a asp-controller="Product" asp-action="ViewFarmerProducts" asp-route-farmerUserId="@farmer.UserID">
                @farmer.UserName @farmer.UserSurname
            </a>
        </li>
    }
</ul>